{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p> Soporte Técnico en Tecnologías de la Información, Redes y Telecomunicaciones.
            Soporte Técnico TI. </p>
        <p></p>
            
        <br>
        <p><b>Teléfono:</b> +52 7226 543 281</p>
        <p><b>Correo:</b> al222210578@gmail.com</p>
        <p><b>Redes Sociales:</b> Vanessa Romero</p>
    </div>
</div>
{% endblock %}

